h1 {color:blue;
     text-align:center;
    font-family:italic
	font-size:50px;
}
p   {color:red;
     font-size:30px;
	 text-align:center;
}
h2 {color:white
     text-alig:center;
	 font-size:50px;
}
p  {color:white;
     font-size:30px;
	 text-align:center;
}